<launch>
	<param name="use_sim_time" value="true" />
	<node pkg="project_2" type="viz_real" name=""/>
	<node pkg="project_2" type="viz_codom" name=""/>
	<node pkg="rosbag" type="play" name="rosbag" args=" --clock $(find project_2)/bags/corridor_short.bag"/>
	<node pkg="gmapping" type="slam_gmapping" name="slam_gmapping" output="screen">
	    <param name="base_frame" value="base_link"/>
	    <param name="odom_frame" value="computed_odom"/>
	   <!--  <remap from="scan" to="scan"/> -->
	</node>

</launch>